@font-face{
	font-family: 'Sen-Regular';
	src: url('fonts/Sen/Sen-Regular.ttf');
}
@font-face{
	font-family: 'DancingScript-Regular';
	src: url('fonts/Dancing/static/DancingScript-Regular.ttf');
}
@font-face{
	font-family: 'CormorantGaramond-Regular';
	src:url(fonts/Cormorant/CormorantGaramond-Regular.ttf);
}